<!-- Footer -->
    <footer class="bg-dark text-white py-4 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <h5>SoftZone Reserve</h5>
                    <p>Your gateway to the finest dining experiences. Book tables at top restaurants with ease.</p>
                </div>
                <div class="col-md-4 mb-3">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="" class="text-white text-decoration-none">Home</a></li>
                        <li><a href="#restaurants" class="text-white text-decoration-none">Restaurants</a></li>
                        <li><a class="nav-link" target="_blank" href="https://ebrahimshabann.github.io/portfolio/">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4 mb-3">
                    <h5>Contact Us</h5>
                    <p><i class="bi bi-envelope me-2"></i> ebrahimshabanhamed@gmail.com</p>
                    <p><i class="bi bi-telephone me-2"></i> (+20)1555178340</p>
                    <div class="d-flex">
                        <a href="https://www.facebook.com/aim.shaban" target="_blank" class="text-white me-3"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/ebrahim-shaban-mosa/" target="_blank" class="text-white me-3"><i class="bi bi-linkedin"></i></a>
                        <a href="https://github.com/EbrahimShabann" class="text-white me-3"target="_blank"><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
            <hr class="my-4">
            <div class="text-center">
                <p>&copy; 2025 SoftZone Reserve. All rights reserved.</p>
            </div>
        </div>
    </footer>
